@import '@angular/material/prebuilt-themes/purple-green.css';

body{
    background-color: #fff !important;
}
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 8px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color : #bbb;
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color : #31708E;
}


.mat-slider-track-background{
  background-color : #31708E;
}

.mat-accent .mat-slider-thumb {
  height: 27px;
  width: 27px;
  background-color: white;
  border: solid 2px gray;
  bottom: -17px;
  right: -17px;
  
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #31708E;
}
/* .mat-slider-thumb-label { background: transparent !important;} */