/* .terminal1{
  margin-left: 70%;
} */

body{
  background-color: #fff;
}
mat-grid-tile {
    background: lightblue;
  }
.start{
    padding: 10px;
    background-color: #31708E;
    color: #F7F9FB;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
.terminalbutton{
  margin-right:1% !important;
}
.videos{
  margin-top:2%;
}
.start_logo{
  margin-left: 3%;
}
/*.grid{
    margin-bottom: 10%;
}*/
.posdata{
    background-color: #bbb;
    color: #31708E;
}

.OrderTime{
  font-size: small; 
  color: white;
  margin:auto;
}

.titlefordata{
  color: #424242;
  padding-top:2%;
  height: 6%;
}
.mat-slider-horizontal{
    min-width: 90%;
    margin-bottom:2%;
}
/* .flex-layout{
  width: 99%;
  margin-left:8px;
} */
/* .button.play {
    border-style: solid;
    box-sizing: border-box;
    border-width: 17px 0px 17px 34px;
    border-color: white;
    margin-top: 2%;

  }

  .button.pause {
    width: 17px;
    height: 34px;
    border-style: double;
    border-width: 0px 0px 0px 34px;
    background: #3E5F8A;
    border-color: #3E5F8A #3E5F8A #3E5F8A white;
    margin-top: 1%;
  } */
.data_logo{
  margin-top:2%;
  margin-left: 40%;
}
.report{
  position:absolute;
  top:95%;
  right:80%;
  background-color: #70D2D9;
}
.head_transaction{
  text-align: center;
  font-size: larger;
  color: white;
}

.report-button{
  margin-top: 98%;
}

.gridcol2{
  display: grid;
  grid-template-columns: 50% 50%  ;
  grid-template-rows: 49% 49% 20%;
  margin:0;
}

.dataappear{
  color:#242424;
  font-size: small;
}

.gridcol12{
  display: grid;
  grid-template-columns: 50% 50%  ;
  /* grid-template-rows: 49% 49% 14%; */
  height: 500px;
  margin:0;
}

.gridcol1{
  display: grid;
  grid-template-columns: 100%  ;
  /* grid-template-rows: 49% 49% 12%; */  margin:0;
}

.ordernumber{
  color : #00887A;
  animation: blinkingText 2s infinite;
}

.gridcol3{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-template-rows: 49% 49% 16%;
  margin:0;
}

.gridcol7{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  grid-template-rows: 33% 33% 33% 8%;
  margin:0;
}
.gridresizecol4{
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
}

.gridresizecol3{
  display: grid;
  grid-template-columns: 33% 33% 33% ;
}
/* .gridresizecol2{
  display: grid;
  grid-template-columns: 50% 50% ;
}

.itemresizecol2{
  grid-column: 1 / span 2;
  grid-row:1;
} */

.itemresizecol3{
  grid-column: 1 / span 3;
  grid-row:1;
}

.itemresizecol4{
  grid-column: 1 / span 4;
  grid-row:1;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.minimize_button{
  text-decoration: none;
  display: inline-block;
  padding: 1% 2%;
}
.minimize_button:hover{
  background-color: khaki;
}

.round {
  border-radius: 50%;
}

.clickedTerminal{
   color:black;
  background-color: rgb(35, 201, 35); 
}

.othercoloredtransactions {
  background-color:#747474;
  height: 15px;
  margin-bottom:10px;
  margin-top:20px;
}

.colortransaction{
  background-color: #116466;
  height: 15px;
  margin-bottom:10px;
  margin-top:20px;
  animation: blinkingBackground 2s infinite;
}

.mat-slider-horizontal{
  min-width: 100%;
  height: 15px !important;
}

.display_data_row:after{
  color: white;
  font-size: small;
  content: "";
  display: table;
  clear: both;
}

.column {
  color: white;
  font-size: small;
  float: left;
  width: 33%;
}

.productTitle{
  font-size:large;
}

::ng-deep .slider-tooltip{
  background: #b71c1c;
  top:10px;
  left:10px;

}
#slidertitle {
  display: none;
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
}
#slider {
  margin-top: 10px;
}

#sliderdiv:hover > #slidertitle {
  display: block;
}

::ng-deep .tooltipcolor{
  background-color: #31708E;
}

@keyframes blinkingBackground{
  0%		{ background-color: #116466;}
  50%	{ background-color: rgb(108, 185, 189);}
}
@keyframes blinkingText{
  0%		{ color: #0D4F50;}
  50%	{ color: #1CA6A9;}
}