<div  class="start row">
    <div class="col-md-9"><img src="../../assets/CCS_Logo-png2 1.png" class = "start_logo">
     Custom Cloud Solutions
    </div>
    <div class="col-md-3"><button *ngFor="let video of terminalList; let i = index" id = {{i}}  [ngClass] = "{'terminal1': !i,'clickedTerminal' : terminalActive[i]}" (click) = "terminalClick($event)">{{"T"+video.terminalId}} </button></div>
</div>
<div class="container-fluid">
    <div class = "row">
        <div  class="col-sm-9 text-center button-div videos">
            <div *ngIf = "maximized" class = "minimize_button previous round" (click)="minimize($event)">
                &#8249;
            </div>
            <div [ngClass]=" flag ? resizedCol : initialCol" >
                <div *ngFor="let video of terminal.driveUrls; let i = index" [ngClass]=" videoClicks[i] ? itemresize : ''" >
                    <video width="100%" class="my_video" id={{i}} height="100%"  muted   (dblclick)="gridClick($event)" *ngIf="!i" (timeupdate) = "onPlaying($event)">
                        <source src="{{video}}" type="video/mp4" >
                    </video>
                    <video width="100%" class="my_video" id={{i}} height="100%"  muted   (dblclick)="gridClick($event)" *ngIf="i">
                        <source src="{{video}}" type="video/mp4" >
                    </video>
                </div>
            </div>
            <div>

                   <a style="cursor:pointer;"><i class="material-icons" *ngIf="paused" (click) = "playVideos($event)">play_arrow</i></a>
                   <a style="cursor:pointer;"><i class="material-icons" *ngIf="!paused" (click) = "pauseVideos($event)">pause</i></a>
                    <!-- <button class="button pause" *ngIf="!paused" (click) = "pauseVideos($event)"> -->
                    <!-- </button> -->
            </div>
            <div id='sliderdiv'>
                <span id="slidertitle">{{sliderValue| number: "1.0-0" | minuteSeconds}}</span>
                <mat-slider id="slider" class = "mat-slider-horizontal" #slider (input)="onInputChange($event)" (mouseover)="getTimeHover($event)" (change)="onPlaying($event)" (pointerup)="onPlaying($event)" >
              </mat-slider>
            </div>
              <div class=row>
                <div class = "col-md-4 text-left">0</div>
                <div class = "col-md-4">{{(slider['value']*6) | number: '1.0-0' | minuteSeconds}} </div>
                <div class = "col-md-4 text-right">10:00</div>
              </div>
              <div style="margin:0 1%;">

              <div fxLayout="row" fxLayoutGap="1px" style="margin-top: -2%;">
                <div *ngFor="let order of orderDetails" [ngClass]="{'colortransaction' : order.orderTime == transaction_display.Ordertime, 'othercoloredtransactions' : orderDetails.orderTime != transaction_display.Ordertime}"
               fxFlex="{{order.transTime}}" matTooltipClass='tooltipcolor' matTooltip = "Order: {{order.orderNumber}}" class="div1" style="height: 15px"  (click)="setSlider(order.transStartTime);"></div>
            </div>
            </div>
        </div>
        <div class="col-sm-3 posdata">
            <div class="titlefordata text-center">
                <h3>Transaction Data</h3>
            </div>
            <img src="../../assets/CCS_Logo-png2 1.png" class = "data_logo">
            <!-- <div class="head_transaction">
                Your Order Details are:
            </div> -->
            <div>
                <div *ngIf = 'terminalDataAppear' class="row">
                    <div class="col-md-8 productTitle" style="color:#242424;">Order <span class="ordernumber"><b>#{{currentOrderNumber}}</b></span>
                    </div>
                </div>
                <div *ngIf = 'terminalDataAppear' class="row" style="color:#242424;padding-bottom: 15px;">
                    <div class="col-md-8 productTitle">{{'Time: '+currentTransactionTime}}
                    </div>
                </div>
                <div *ngIf = 'terminalDataAppear' class="row">
                    <div class="col-md-8 productTitle">Product
                        <div class="dataappear" *ngFor="let product of transaction_display.Products">{{ product.name }}</div>
                    </div>
                    <div class="col-md-4 productTitle">Price
                        <div class="dataappear" *ngFor="let product of transaction_display.Products">{{ "$"+product.extended_price/100 }}</div>
                    </div>
                </div>
                <div *ngIf = 'terminalDataAppear' class="row">
                    <div *ngIf = "transaction_display.Valuemeals.length"  style="margin:auto">
                            Value Meal
                    </div>
                </div>
                   <div *ngIf = 'terminalDataAppear' class="row">
                        <div class="col-md-8 dataappear">
                            <div *ngFor= "let valuemeal_Product of transaction_display.Valuemeal_products">
                                {{ valuemeal_Product.name }}</div>
                            <div *ngFor="let valuemeal of transaction_display.Valuemeals">{{ valuemeal.name }}</div>
                            <div>&nbsp;</div>
                            <!-- <div>{{'OrderNumber'}}</div> -->
                            <div>{{'Terminal'}}</div>
                            <div>{{'Employee Badge'}}</div>
                            <div>{{'Payment-Mode'}}</div>
                            <div>{{'SubTotal'}}</div>
                            <div>{{'Tax'}}</div>
                            <div style="color:#44318D;"><b>{{'Total'}}</b></div>
                       </div>
                       <div class="col-md-4 dataappear">
                            <div *ngFor= "let valuemeal_Product of transaction_display.Valuemeal_products">{{ "$"+valuemeal_Product.extended_price/100 }}</div>
                            <div *ngFor="let valuemeal of transaction_display.Valuemeals">{{ "$"+valuemeal.extended_price/100 }}</div>
                            <div>&nbsp;</div>
                            <!-- <div>{{transaction_display.OrderNumber}}</div> -->
                            <div>{{transaction_display.Terminal}}</div>
                            <div>{{transaction_display.Employeebadge}}</div>
                            <div>{{transaction_display.PaymentMode}}</div>
                            <div>{{"$"+transaction_display.SubTotal.value/100}}</div>
                            <div>{{"$"+transaction_display.Taxes.Tax.value/100}}</div>
                            <div style="color:#44318D;"><b>{{"$"+transaction_display.Total.value/100}}</b></div>
                       </div>
                    </div>
             
              <form class="report-form" *ngIf='showTextArea' >
                <button mat-raised-button (click)="onSubmit(ordertranstime)">Submit</button>
              </form>
            </div>
        </div>
    </div>
    </div>

    


